<h1>Lista de Advogados</h1>
<hr>
<%= link_to 'Back', advogados_path %>
<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>N oab</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @advogados.each do |advogado| %>
    <tr>
      <td><%= advogado.nome %></td>
      <td><%= advogado.n_OAB %></td>
    </tr>
  <% end %>
  </tbody>
</table>
